<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key><string>io.quotawatch.web</string>
	<key>ProgramArguments</key>
	<array>
		<string>__NODE__</string>
		<string>__NEXT_BIN__</string>
		<string>start</string>
		<string>-p</string>
		<string>3000</string>
	</array>
	<key>WorkingDirectory</key><string>__WEB_DIR__</string>
	<key>RunAtLoad</key><true/>
	<key>KeepAlive</key><true/>
	<key>ProcessType</key><string>Background</string>
	<key>StandardOutPath</key><string>__DATA_DIR__/web.log</string>
	<key>StandardErrorPath</key><string>__DATA_DIR__/web.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key><string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
		<key>NODE_ENV</key><string>production</string>
	</dict>
</dict>
</plist>
